//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9 (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Wed 09 11 19:08:50 2024

IO_LOC "semaforos[11]" 32;
IO_PORT "semaforos[11]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "semaforos[10]" 31;
IO_PORT "semaforos[10]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "semaforos[9]" 49;
IO_PORT "semaforos[9]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "semaforos[8]" 48;
IO_PORT "semaforos[8]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "semaforos[7]" 70;
IO_PORT "semaforos[7]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "semaforos[6]" 71;
IO_PORT "semaforos[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "semaforos[5]" 72;
IO_PORT "semaforos[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "semaforos[4]" 73;
IO_PORT "semaforos[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "semaforos[3]" 74;
IO_PORT "semaforos[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "semaforos[2]" 75;
IO_PORT "semaforos[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "semaforos[1]" 76;
IO_PORT "semaforos[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "semaforos[0]" 77;
IO_PORT "semaforos[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rx_espia" 17;
IO_PORT "rx_espia" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "tx3" 68;
IO_PORT "tx3" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rx4" 55;
IO_PORT "rx4" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led" 10;
IO_PORT "led" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rx2" 27;
IO_PORT "rx2" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ciclo_esp32[3]" 39;
IO_PORT "ciclo_esp32[3]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ciclo_esp32[2]" 36;
IO_PORT "ciclo_esp32[2]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ciclo_esp32[1]" 37;
IO_PORT "ciclo_esp32[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ciclo_esp32[0]" 38;
IO_PORT "ciclo_esp32[0]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rx3" 69;
IO_PORT "rx3" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "tx4" 54;
IO_PORT "tx4" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "tx2" 28;
IO_PORT "tx2" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "dest_esp32" 25;
IO_PORT "dest_esp32" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "select" 26;
IO_PORT "select" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rst" 4;
IO_PORT "rst" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" 52;
IO_PORT "clk" PULL_MODE=UP BANK_VCCIO=1.8;
